.table th, .table td {
     border-top: 0px solid #FFF;
 }
.bg-faded {
    background-color: #FF0000;
}
.navbar-light .navbar-brand {
    color: #FFF;
}
.navbar-light .navbar-nav .nav-link {
    color: #FFF;
    font-weight: bold;
}
body {
    background-color: #FBEFF2;
}
.card-header {
    background-color: rgba(255, 0, 0, 0.56);
}
.btn-primary {
    color: #0275d8;
    background-color: #FFFFFF;
    border-color: rgba(0, 0, 0, 0.48);
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    color: rgba(0, 0, 0, 0.54);
    background-color: #FFFFFF;
    border-color: #C3C3C3;
}
a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover {
    color: #555;
    background-color: rgba(238, 220, 220, 0.13);
}
.list-group-item {
    border: 0px solid #ddd;
}